/* Stylesheet for the Index page (to be used exclusively for the index page)*/

/* Get rid of default padding and margin */
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

header, nav, article, aside, section, footer{
    display: block;
}


/* Centering website */
.maincontainer {
	width: 1500px;
	margin: 0px auto;
	background-color: white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: inherit;
}

.clear {
    clear: both;
}

.logo {
    width: 50px;
    height: 85px;
    float: left;
}

.top_nav {
    float: left;
    width: 1500px;
    margin: auto;
    background-color: aqua;

}

.top_nav ul li {
    float: left;
    padding: 35px 20px;
    font-size: 27px;

}

.top_nav ul li a {
    color: black;
    text-decoration: none;
}

.top_nav ul li a:hover {
    color: black;
    background-color: aquamarine;
}

.top_nav ul li a:active {
    background-color: aquamarine;
}

/* Float aside and main section */
.left_side {
    float: left;
    width: 1100px;
    text-align: left;
}

.img center {
    padding: 10px;
    margin: auto auto;
}

.people_image {
    float: left;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 2px solid black;
}

.people_abstract {
    float: left;
    width: 800px;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid red;
}

.people_abstract h2 {
    font-size: 30px;
}

.people_abstract h3 {
    font-size: 25px;
    font-style: italic;
}

.people_abstract p {
    font-size: 20px;
}

.left_side article {
    margin-right: 10px;
    padding: 10px;
}

.right_side {
    float: right;
    width: 380px;
    text-align: left;
}

.right_side div {
    padding: 10px;
    margin: 0px 0px 10px 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: darkturquoise;
}
