/* Primary CSS styles sheet for all webpages */

header {
    text-align: center;
    font-size: 80px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.2em;
    padding: 0.1em;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
.navlink {
    float: left;
}

.navlink a{
    display: block;
    border-right: 1px solid black;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: grey;
}

.navlink:last-child {
    border-right: none;
}

p {
    font-size: 25px;
}

body {
	background-color: gainsboro;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	text-align: left;
}
